.container {
    background: whitesmoke url(../img/dice_fond.jpg);
    border: solid black 4px;
    -moz-box-shadow: 3px 3px 15px 2px #000000;
    -webkit-box-shadow: 3px 3px 15px 2px #000000;
    -o-box-shadow: 3px 3px 15px 2px #000000;
    box-shadow: 3px 3px 15px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=135, Strength=15);
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    text-align: center;
    width: 400px;
    margin-top: 50px;
    box-sizing: border-box;
}

