
.bouton_lancement {
    width: 150px;
    height: 150px;
}

.container_dice {
    cursor: pointer;
}

#chiffre {
    font-size: 300px;
    margin-top: -100px;
    font-family: Steamwreck, Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 6px whitesmoke;
    color: black;
}

.descriptionChiffre {
    font-size: 40px;
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
}

#valeurMaxDe {
    margin-top: -20px;
}

.sousDescriptionChiffre {
    font-size: 35px;
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
    margin-top: -20px;
}

#detailLance {
    margin-top: -100px;
}
