body {
    background-image: url("../img/201151.jpg");
}


.left-panel {
}

.vue-zone {
}

.right-panel {
    
}

.ctrl-panel {
    background-image: url("../img/perso_font.jpg");
    height: 450px;
    margin-top: 15px;
    border-radius: 30px;
    border: solid black 4px;
    -moz-box-shadow: 3px 3px 15px 2px #000000;
    -webkit-box-shadow: 3px 3px 15px 2px #000000;
    -o-box-shadow: 3px 3px 15px 2px #000000;
    box-shadow: 3px 3px 15px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=135, Strength=15);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.in-ctrl-panel {
    background-image: url("../img/perso_font_struct.jpg");
    height: 400px;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
}

.img-btn {
    width: 50px;
    height: 50px;
}

.btn-dice {
    width: 100px;
    height: 100px;
}

.select-dice {
    width: 100px;
    height: 100px;
}

.dice-line {
    text-align: center;
    margin-top: 10px;
}

.connect-zone {
    text-align: center;
    margin-top: 20px;
}

#timerBar {
    position: relative;
    text-align: center;
    margin-top: 20px;
    height: 55px;
    background-color: #837B68;
    font-family: Steamwreck, Arial, sans-serif;
    font-size: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#timerBar span {
    position: absolute;
    z-index: 2;
}

#barre {
    position: absolute;
    height: 55px;
    width: 100%;
    border-radius: 2px;
    background-color: #BFA574;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#characterPlayed {
    color: white;
    font-family: Steamwreck, Arial, sans-serif;
    font-size: 30px;
}

.stats {
    background: whitesmoke url(../img/dice_fond.jpg);
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Steamwreck, Arial, sans-serif;
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.nomStat {
    font-size: 30px;
    margin-bottom: 0;
}

.statBar {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-color: #837B68;
    margin-top: 2px;
    height: 25px;
    text-align: center;
}

.statBar span {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.statBar div {
    position: absolute;
    height: 25px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.healthBar div {
    background-color: #D32F2F;
}

.manaBar div {
    background-color: #3F51B5;
}

.ephiriumBar div {
    background-color: #4CAF50;
}

#displayStatsButtons form {
    margin-top: 5px;
}