
.bouton_lancement {
    width: 150px;
    height: 150px;
}

.container_dice {
    cursor: pointer;
}

.container_stream {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    right: 20%;
}

#chiffre {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 300px;
    font-family: Steamwreck, Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 6px whitesmoke;
    color: black;
}

.chiffre_stream {
    top: -40px !important;
    font-size: 250px !important;
}

.descriptionChiffre {
    font-size: 40px;
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
}

#valeurMaxDe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}

.sousDescriptionChiffre {
    font-size: 35px;
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    text-shadow: 0 0 6px black;
    margin-top: -20px;
}

#detailLance {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
}

#utilisateurAffiche {
    position: absolute;
    left: 0;
    right: 0;
}

#typeLance {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}
