body {
    background-image: url("../img/fond.jpg");
}

.container {
    position: relative;
    background: whitesmoke url(../img/dice_font_2.jpg);
    border: solid rgb(150, 150, 150) 4px;
    -moz-box-shadow: 3px 3px 15px 2px #000000;
    -webkit-box-shadow: 3px 3px 15px 2px #000000;
    -o-box-shadow: 3px 3px 15px 2px #000000;
    box-shadow: 3px 3px 15px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=135, Strength=15);
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    text-align: center;
    width: 450px;
    height: 450px;
    margin-top: 50px;
    box-sizing: border-box;
}

.container_success {
    -moz-box-shadow: 0 0 50px 15px #ffffff;
    -webkit-box-shadow: 0 0 50px 15px #ffffff;
    -o-box-shadow: 0 0 50px 15px #ffffff;
    box-shadow: 0 0 50px 15px #ffffff;
    margin-left: 10px;
}

.container_fail {
    -moz-box-shadow: 0 0 50px 15px #000000;
    -webkit-box-shadow: 0 0 50px 15px #000000;
    -o-box-shadow: 0 0 50px 15px #000000;
    box-shadow: 0 0 50px 15px #000000;
}

.left-panel {
    display: none;
}

.vue-zone {
}

.right-panel {
    display: none;
}

.ctrl-panel {
    background-image: url("../img/perso_font.jpg");
    height: 450px;
    margin-top: 15px;
    border-radius: 30px;
    border: solid black 4px;
    -moz-box-shadow: 3px 3px 15px 2px #000000;
    -webkit-box-shadow: 3px 3px 15px 2px #000000;
    -o-box-shadow: 3px 3px 15px 2px #000000;
    box-shadow: 3px 3px 15px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=135, Strength=15);
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.in-ctrl-panel {
    position: relative;
    background-image: url("../img/perso_font_struct.jpg");
    height: 400px;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
}

.img-btn {
    width: 50px;
    height: 50px;
}

.btn-dice {
    width: 100px;
    height: 100px;
}

.select-dice {
    width: 100px;
    height: 100px;
}

.dice-line {
    text-align: center;
    margin-top: 10px;
}

.connect-zone {
    text-align: center;
    margin-top: 20px;
}

#timerBar {
    position: relative;
    text-align: center;
    margin-top: 20px;
    height: 55px;
    background-color: #837B68;
    font-family: Steamwreck, Arial, sans-serif;
    font-size: 40px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
}

#timerBar span {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
}

#barre {
    position: absolute;
    height: 55px;
    width: 100%;
    border-radius: 2px;
    background-color: #BFA574;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    z-index: 1;
}

#characterPlayed {
    color: white;
    font-family: Steamwreck, Arial, sans-serif;
    font-size: 30px;
}

.stats {
    background: whitesmoke url(../img/dice_fond.jpg);
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Steamwreck, Arial, sans-serif;
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.nomStat {
    font-size: 30px;
    margin-bottom: 0;
}

.statBar {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-color: #837B68;
    margin-top: 2px;
    height: 25px;
    text-align: center;
}

.statBar span {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.statBar div {
    position: absolute;
    height: 25px;
    border-radius: 2px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
}

.healthBar div {
    background-color: #D32F2F;
}

.manaBar div {
    background-color: #3F51B5;
}

.ephiriumBar div {
    background-color: #4CAF50;
}

#displayStatsButtons form {
    margin-top: 5px;
}

h2 {
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    font-size: 50px;
}

#characterStatsTable {
    font-size: 14px;
    background-color: white;
    color: black;
    margin-top: 20px;
}

#characterStatsTable tr, #characterStatsTable td{
    border: 1px solid #837B68;
}

.headTableRow {
    background-color: #000000; color: white;
}

.subTableRow {
    background-color: #837B68; color: white;
}

.camera {
    display: block;
    width: 100%;
    height: 300px;
    background-color: limegreen;
    border-radius: 5px;
}

.character-slot {
    position: relative;
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    margin-top: 75px;
}

.character-name {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -55px;
    font-size: 75px;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.8);
}

.map {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    left: 10px;
    top: 450px;
    background-color: limegreen;
}

#host {
    font-family: Steamwreck, Arial, sans-serif;
    color: white;
    position: relative;
    width: 675px;
    height: 380px;
    margin-right: -5px;
    margin-top: 60px;
}

.healthBarStream {
    position: absolute;
    bottom: -10px;
    z-index: 3;
    left: 10px;
    right: 10px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.8);
}

.healthBarStream span {
    font-size: 35px;
    top: -2px;
}

.healthBarStream div {
    height: 100%;
    width: 50%;
    border-radius: 7px;
}